   
   /* GitHub Logo */
  .github-logo {
    width: 100px;
    transition: transform 0.3s ease;
    cursor: pointer;
    filter: drop-shadow(0 0 15px limegreen);
  }
  
  .github-logo:hover {
    transform: scale(1.1) rotate(2deg);
  }
  