  
.edit-button {
    margin-top: 0.5rem;
    padding: 0.3rem 0.6rem;
    background-color: limegreen;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .edit-button:hover {
    background-color: #00ff88;
  }
  
  .journal-history{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
  }

/* Calender */
.calendar-view {
  margin: 2rem auto !important;
  text-align: center !important;
  max-width: 400px !important;
}

.react-calendar {
  border: 1px solid #ccc !important;
  border-radius: 12px !important;
  padding: 1rem !important;
  background-color: #fff !important;
}

.react-calendar__tile--active {
  background: #6c63ff !important;
  color: white !important;
  border-radius: 8px !important;
}

.react-calendar__navigation button {
  font-weight: bold !important;
  color: black !important;
  background: none !important;
  border: none !important;
  font-size: 1.2rem !important;
}

.react-calendar__month-view__weekdays {
  font-weight: bold !important;
  font-size: 0.9rem !important;
  text-transform: uppercase !important;
  color: black !important;
}

/*All for the table below Date Field*/
.exercise-data-table{
  flex: 2;
  width: 100%;
  max-width: 1000px; 
  border-collapse: collapse;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size:17px;
}

.exercise-data-table th, 
.exercise-data-table td {
  border: 1px solid limegreen;
  padding: 12px 14px;
}

.exercise-data-table tr:hover{
  background-color: #191818;
  box-shadow: 0 0 8px #00ff00;
}

.exercise-data-table thead th {
  position: sticky;
  top: 0;
  background-color: #000;
  z-index: 1;
}

.table-inputs {
  width: 80%;
  margin: 0 auto;
  padding: 6px;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  border: 1px solid #00ff00;
  border-radius: 6px;
  background-color: #111;
  color: limegreen;
} 

.table-inputs:hover {
  border-color: #00ff88;
  box-shadow: 0 0 5px #00ff88;
  outline: none;
}

.entry-table{
  margin: 0 auto;
  border-collapse: collapse;
  text-align: center;
  width: 80%;
}

