  
.edit-button {
    margin-top: 0.5rem;
    padding: 0.3rem 0.6rem;
    background-color: limegreen;
    color: black;
    font-weight: bold;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .edit-button:hover {
    background-color: #00ff88;
  }
  
  